/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

:root {
  --brand-color-1: #1d4ed8;
  --brand-color-2: #27272a;
  --brand-color-3: #dbeafe;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #27272a;
}

html {
  scroll-behavior: smooth;
}

header {
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  max-width: 1230px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
}

.navigation-links {
  list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header-buttons {
  display: flex;
  gap: 8px;
}

.login-button {
  padding: 4px 16px;
  font-size: 16px;
  font-style: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--brand-color-1);
  background-color: white;
  border: 2px solid var(--brand-color-1);
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  padding: 4px 16px;
  font-size: 16px;
  font-style: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  background-color: var(--brand-color-1);
  border: 2px solid var(--brand-color-1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.demo-button {
  padding: 4px 16px;
  font-size: 16px;
  font-style: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  background-color: var(--brand-color-1);
  border: 2px solid var(--brand-color-1);
  border-radius: 5px;
  cursor: pointer;
}

.demo-button:hover {
  padding: 4px 16px;
  font-size: 16px;
  font-style: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--brand-color-1);
  background-color: white;
  border: 2px solid var(--brand-color-1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.googleplay_badge,
.applestore_badge {
  height: 40px;
}

.introduction-container {
  display: flex;
  align-items: center;
  padding: 48px 64px;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  max-width: 1230px;
  margin: 80px auto;
  gap: 64px;
}

.introduction-maintext {
  font-size: 48px;
  letter-spacing: -2.5px;
}

.introduction-subtext {
  line-height: 1.5;
  margin: 8px 0px;
  font-weight: 500;
}

.introduction-image {
  height: 350px;
}

.goodbye {
  color: var(--brand-color-1);
}

.benefits-container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1230px;
}

.benefits {
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  max-width: 380px;
  padding: 50px 25px;
}

.benefits-maintext {
  line-height: 2;
}

.benefits-subtext {
  line-height: 2;
}

.question-container {
  max-width: 1230px;
  margin: 150px auto;
}

.features-text-container,
.reviews-text-container {
  max-width: 1230px;
  margin: 80px auto;
}

.features-section {
  max-width: 1230px;
  margin: 80px auto;
}

.question-text,
.features-text,
.reviews-text {
  font-size: 32px;
  text-align: center;
}

.step {
  color: var(--brand-color-1);
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.step-maintext {
  font-size: 32px;
  margin: 20px 0;
}

.step-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1230px;
  margin: 80px auto;
  padding: 0px 40px;
}

.step-list-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.step-list-item-1 {
  grid-column: 2/3;
  grid-row: -4/-3;
}

.step-list-item-2 {
  grid-column: 2/3;
  grid-row: -3/-2;
}

.step-list-item-3 {
  grid-column: 2/3;
  grid-row: -2/-1;
}

.step-list-item-1,
.step-list-item-2,
.step-list-item-3 {
  line-height: 1.8;
}

.step-1-image {
  max-width: 350px;
}

.step-2-image {
  max-width: 500px;
}

.step-3-image {
  max-width: 600px;
}

.features-container {
  max-width: 400px;
}

.features-maintext {
  font-size: 24px;
  line-height: 2;
}

.features-subtext {
  line-height: 2;
}

.features-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.image-container {
  background-color: #ffffff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}

.reviews-container {
  max-width: 1000px;
  margin: 0 auto 150px auto;
  background-color: var(--brand-color-1);
  border-radius: 30px;
  padding: 40px 80px;
}

.buttons-carousel {
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-color-1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.button-active {
  background-color: var(--brand-color-1);
}

.reviews-container {
  position: relative;
}

.review,
.review-author,
.review-job {
  color: var(--brand-color-3);
}

.review {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.review-author {
  margin-bottom: 4px;
}

.review-job {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 32px);
}

.button-left,
.button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-style: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  cursor: pointer;
}

.button-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 10px auto;
}

body {
  border-bottom: 6px solid var(--brand-color-1);
}

.hidden {
  visibility: hidden;
}

.modal-maintext {
  font-size: 32px;
  text-align: center;
}

.modal-subtext-container {
  display: flex;
  justify-content: center;
}

.form-label {
  font-size: 12px;
}

.inputfield,
.signin-with-buttons {
  width: 300px;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  margin: 5px 0;
}

.signin-with-buttons {
  background-color: #f3f4f6;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  font-weight: 600;
  cursor: pointer;
}

.signin-buttons-text {
  color: #6b7280;
}

.signin-icons {
  float: left;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.08);
  padding: 40px 0;
  background-color: #ffffff;
  width: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.orlogin-container {
  font-size: 12px;
}
